.blog1{
	font-size: 14px;
	margin-left:139px;
	margin-top:72px;
	color: #5863F8;
	font-family: 'Poppins', sans-serif;
}
.blog2{
	font-size: 42px;
	margin-left: 139px;
	font-family: 'Poppins', sans-serif;
	margin-top: 10px;
}
.divh3-1{
	font-size: 14px;
	color: #5863F8;
	margin-top: 23px;
	font-family: 'Poppins', sans-serif;
	margin-left: 125px;
}
.divh3-2{
	font-size: 18px;
	color: #000000;
	margin-top: 5px;
	margin-left: 63px;
	font-family: 'Poppins', sans-serif;
}
.divh3-3{ 
	font-size: 14px;
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;


}
.divh3-4{
	font-size: 14px;
    color: #B1B1B1;
    font-family: 'Poppins', sans-serif;
    margin-top: 7px;
}
.div2-1-2{
	padding-top: 10px;
	margin-left: 55px;
}
.div2-1 {
	margin-left: 139px;
	margin-top: 50px;
	float: left;
}
.div2-2 {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
.div2-3{
   float: left;
   margin-top: 50px;
   margin-left: 20px;	
}
.div2-4{
	margin-left: 139px;
	margin-top: 50px;
	float: left;
}
.div2-5 {
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}